rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allows anyone to read any document
    match /{document=**} {
      allow read: if true;
    }

    // Allows authenticated users to write to the 'chefs' collection
    match /chefs/{chefId} {
      allow write: if request.auth.uid != null;
    }

    // Allows authenticated users to write to the 'users' collection
    match /users/{userId} {
      allow write: if request.auth.uid != null;
    }
  }
}