.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff6f00;
  padding: 1em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF2EE;
}

.cookie-consent-banner p {
  margin: 0;
}

.cookie-consent-banner button {
  padding: 0.5em 1em;
  background-color: #FFF2EE;
  color: #ff6f00;
  border: none;
  cursor: pointer;
}

.cookie-consent-banner button:hover {
  background-color: #FFE8D2;
}

a {
  color: #002fff;
  text-decoration: underline;
  text-decoration-color: #ff6f00;
}