.footer {
  background-color: #1f1f1f;
  color: #FFF2EE;
  padding: 1rem 0;
  font-family: Arial, sans-serif;
  position: relative;
  margin-top: 20px;
}

.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff6f00;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo2 {
  margin-top: 20px;
  cursor: pointer;
}

.footer h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.footer-links {
  margin: 20px 0;
}

.footer-links a {
  color: #FFF2EE;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2em;
}

.footer-links a:hover {
  color: #ff6f00;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  /* Align the social icons to the right */
  margin-top: 1rem;
  margin-right: 15px;
}

.footer-social a {
  color: #FFF2EE;
  margin: 0 10px;
  font-size: 24px;
  /* Icon size */
}

.footer-social a:hover {
  color: #ff6f00;
}

.footer-legal-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-legal {
  position: relative;
  text-align: left;
  flex: 1;
  font-size: 0.8em;
  margin-top: 20px;
}

.footer-legal:before {
  content: '';
  /* Pseudo-element content should be empty */
  position: absolute;
  top: -20px;
  left: 60.5%;
  /* Center the line */
  transform: translateX(-50%);
  /* Center the element */
  width: 125%;
  height: 1px;
  /* Height of the red line */
  background-color: #ff6f00;
  /* Color of the line */
}

.footer-legal a {
  color: #FFF2EE;
  text-decoration: none;
}

.footer-legal a:hover {
  color: #ff6f00;
}

.footer-legal span {
  margin: 0 5px;
}

.footer-copywrite {
  margin-top: 15px;
  font-size: 0.8em;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}