  header {
      display: flex;
      position: fixed;
      justify-content: space-between;
      /* This will space out the logo and the right-side icons*/
      align-items: center;
      padding: 20px 50px;
      background-color: #ff6f00;
      top: 0;
      /* Align the header to the top */
      left: 0;
      /* Align the header to the left */
      width: 100%;
      z-index: 10;
      /* Ensure the header is above other content */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s;
      border-bottom: 1px solid #ff6f00;
  }

  /* Add padding-top to the body to prevent content from hiding behind the header */
  body {
      padding-top: 100px;
      background-color: #ffd3ac;
  }

  .header-scrolled {
      background-color: #1f1f1f;
  }

  .logo {
      flex-grow: 1;
      display: flex;
      /* This will allow the logo to take up all available space */
      justify-content: center;
      /* This will center the logo div contents */

  }

  .logo img {
      height: 50px;
      width: auto;
  }

  .logo2 img {
      height: 50px;
      width: auto;
  }

  /* Align chat and hamburger icons to the right */
  .header-right {
      display: flex;
      align-items: center;

  }

  header div,
  header input,
  header button {
      margin: 0 10px;
  }

  .chat-icon,
  .hamburger-icon {
      cursor: pointer;
      font-size: 24px;
      margin-left: -15px;
  }

  .hamburger-icon {
      color: #FFF2EE;
  }

  .chat-icon {
      margin-left: -45px;
  }

  .backdrop {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      animation: fadeIn 0.3s;
      z-index: 1000;
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }

  .menu {
      background: #FFE8D2;
      width: 250px;
      /* Adjust as needed */
      padding: 20px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      overflow-y: auto;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
      animation: slideIn 0.3s;
  }

  @keyframes slideIn {
      from {
          transform: translateX(-100%);
      }

      to {
          transform: translateX(0);
      }
  }

  .close-icon {
      color: #1f1f1f;
      cursor: pointer;
      font-size: 24px;
      /* Adjust as needed */
      text-align: right;
  }

  .my-profile {
      display: block;
      padding: 10px;
      border-bottom: 1px solid #ffd3ac;
      text-decoration: none;
      color: #1f1f1f;
      cursor: pointer;
  }

  .my-profile:hover {
      border-bottom: 2px solid #ffd3ac;
  }

  .menu a:hover {
      border-bottom: 2px solid #ffd3ac;
  }

  .menu a {
      display: block;
      padding: 10px;
      border-bottom: 1px solid #ffd3ac;
      text-decoration: none;
      color: #1f1f1f;
  }

  .menu-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background: #ff6f00;
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  }