.password-reset-container {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.password-reset-box {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.password-reset-title {
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.password-reset-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.password-reset-button {
  width: 100%;
  padding: 10px;
  background-color: #04AA6D; /* Green background */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.password-reset-button:hover {
  background-color: #039e5b; /* Darker green on hover */
}