.profile-container {
    min-height: 57vh;
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFE8D2;
    text-align: center;
  }
  
  .profile-header {
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    object-fit: cover;
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    
  }
  
  .profile-email {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .profile-info {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .profile-info-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .profile-image-upload {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .profile-info-content {
    font-size: 16px;
    color: #666;
    
  }
  
  .button-edit {
    background-color: #ff6f00;
    color: #FFF2EE;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button-edit:hover {
    background-color: #ff983d;
  }
  
  .input-edit {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #ffffff; /* Light gray background */
    color: #1f1f1f; /* Dark text */
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    border: 1px solid #ffd3ac;
    border-radius: 5px;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #ff6f00; /* Light gray background */
    color: #ffffff; /* Dark text */
    border-radius: 5px; /* Rounded corners */
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
  }
  
  .custom-file-upload:hover {
    background-color: #ff983d; /* Darker gray on hover */
  }
  
  
  .go-back-button {
    margin: 10px;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #FFE8D2; /* Example button color */
    color: #000000; /* Text color for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 947px;
  }
  
  .go-back-button:hover {
    background-color: #ffd3ac; /* Darken button on hover */
  }
  