.App {
  text-align: center; /* Center align the content */
  font-family: Arial, sans-serif; /* Example font */
}

.logo img {
  height: 50px; /* Adjust the size as needed */
  width: auto; /* Maintain aspect ratio */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px; /* Adds spacing between header and grid */
  background-color: #ffa56a;
}

header div, header input, header button {
  margin: 0 10px;
}

.hamburger-icon {
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.menu {
  background: white;
  width: 250px; /* Adjust as needed */
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.close-icon {
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
  text-align: right;
}

.menu a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #333;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #f8f8f8;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}

.menu-footer a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-top: 10px;
}

/* Search bar style */
input[type="search"] {
  padding: 10px;
  width: 300px; /* Set the width of the search bar */
}

.cuisine-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  gap: 20px;
  padding: 20px 50px; 
  margin-top: 20px; /* Adds spacing between header and grid */
}

.cuisine-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px; /* Rounds the corners of the cuisine card */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds subtle shadow */
}

.cuisine-image {
  width: 100%;
  height: 150px; /* Adjust height as needed */
  background-color: #f3f3f3; /* Placeholder for actual images */
  margin-bottom: 20px; /* Adds spacing between the image and the text */
}

button {
  padding: 10px 20px;
  background-color: #000; /* Example button color */
  color: #fff; /* Text color for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444; /* Darken button on hover */
}

@media screen and (max-width: 768px) {
  .cuisine-grid {
    grid-template-columns: 1fr 1fr; /* Two columns for tablet */
  }
}

@media screen and (max-width: 480px) {
  .cuisine-grid {
    grid-template-columns: 1fr; /* Single column for mobile */
  }
}