@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.App {
  text-align: center; /* Center align the content */
  font-family: Arial, sans-serif; /* Example font */
  background-color: #ffd3ac;
  
}

/* APP CUISINE STYLE*/
.cuisine-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  gap: 20px;
  padding: 20px 50px; 
  margin-top: 20px; /* Adds spacing between header and grid */
}

.cuisine-card {
  border: 1px solid #ffcca0;
  background-color: #FFE8D2;
  padding: 20px;
  border-radius: 10px; /* Rounds the corners of the cuisine card */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds subtle shadow */
  cursor: pointer;
}

.cuisine-card:hover {
  transform: translateY(-5px);
}

.cuisine-card .cuisine-image {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background-color: #f3f3f3; /* Placeholder for actual images */
  margin-bottom: 20px; /* Adds spacing between the image and the text */
  background-size: cover;
  background-position: center;
}

.cuisine-card h3 {
  color: #1f1f1f;
}

button {
  padding: 10px 20px;
  background-color: #ff6f00; /* Example button color */
  color: #fff; /* Text color for buttons */
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff983d; /* Darken button on hover */
}

.cuisine-detail-page{
  text-align: center;
}

.cuisine-banner {
  /* Styling for the banner */
  background-color: #ff0000; /* Replace with actual image */
  padding: 20px;
  text-align: center;
}

.cuisine-detail .cuisine-header {
  position: relative;
  margin-bottom: 20px; /* Adjust as needed */
}

.cuisine-detail .cuisine-image {
  position: relative;
  height: 300px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cuisine-detail .cuisine-image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); /* black with 50% opacity */
  z-index: 1;
}


.cuisine-detail .cuisine-title {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 196, 151, 0.7); /* Semi-transparent background */
  padding: 5px 15px; /* Adjust as needed */
  border-radius: 5px;
  color: #1f1f1f; /* Adjust text color as needed */
  font-size: 2.5rem; /* Adjust font size as needed */
  text-align: center;
  z-index: 2;
}

.cuisine-description{
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10%;
}

.chef-section {
  width: 100%;
  margin-top: 50px;
}

.chef-section h3 {
  color: #1f1f1f;
}

.chef-section h1 {
  color: #1f1f1f;
}

/* .chef-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} */

.chef-card {
background-color: #FFE8D2;
border: 1px solid #ffcca0;
border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.chef-card img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  margin-bottom: 10px;
}

.chef-card h4 {
  
  margin-bottom: 5px;
}

.chef-card p {
  font-size: 0.9rem;
  text-align: center;
}

.chef-card:hover {
  transform: translateY(-5px);
}

.chef-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  width: 80%;
  justify-content: center;
  gap: 20px;
}

.chef-food-image {
  height: 150px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative; /* Needed to position the chef image absolutely within */
  width: 100%;
}

.chef-image {
 /*  width: 80px;
  height: 80px;
  border-radius: 50%; */
  display: block;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%; /* Circular image */
  object-fit: cover; /* Cover the image to avoid stretching */
}

.chef-profile {
  display: flex;
  max-width: 1150px; /* Set the max-width to the size of the square */
  margin: auto;
  gap: 30px;
}

.chef-image-container {
  flex: 0; /* Adjust as needed, or use a fixed width */
}

.chef-image-container img {
  width: 364px;
  height: 364px;
  object-fit: cover; 
  border-radius: 3%; 
}

.chef-details {
  height: 60px;
  padding: 10px;
  text-align: center;
  background: #FFE8D2; /* Background for the text */
  position: relative;
  top: -30px; /* Move up to overlap the image */
}

.chef-name {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.chef-price {
  font-style: italic;
  font-size: 0.9rem;
  color: #666;
}

.chef-favorite {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

/* Utility classes */
.text-center {
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Responsive Design Adjustments */
@media screen and (max-width: 768px) {
  .cuisine-grid {
    grid-template-columns: 1fr 1fr; /* Two columns for tablet */
  }
  .chef-info, .about-chef, .bio, .reviews, .special-menu, .contact-chef, .message-area {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .cuisine-grid {
    grid-template-columns: 1fr; /* Single column for mobile */
  }
  .chef-info, .about-chef, .bio, .reviews, .special-menu, .contact-chef, .message-area {
    width: auto;
  }
}

@media (max-width: 768px) {
  .chef-profile {
    flex-direction: column; /* Stack flex items vertically on small screens */
  }

  .chef-image-container, .chef-info {
    flex: none; /* Reset any flex sizing to allow default widths */
  }
}

@media (max-width: 480px) {
  .chef-profile {
    flex-direction: column; /* Stack flex items vertically on small screens */
  }

  .chef-image-container, .chef-info {
    flex: none; /* Reset any flex sizing to allow default widths */
  }
}


