@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.App {
  text-align: center; /* Center align the content */
  font-family: Arial, sans-serif; /* Example font */
}

.logo img {
  height: 50px; /* Adjust the size as needed */
  width: auto; /* Maintain aspect ratio */
}

/*HEADER STYLE*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px; /* Adds spacing between header and grid */
  background-color: #ffa56a;
}

header div, header input, header button {
  margin: 0 10px;
}

.hamburger-icon {
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
}

.backdrop {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s;
  z-index: 1000;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.menu {
  background: white;
  width: 250px; /* Adjust as needed */
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.close-icon {
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
  text-align: right;
}

.menu a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #333;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #f8f8f8;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}

.menu-footer a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-top: 10px;
}

/* SEARCH BAR STYLE */
input[type="search"] {
  padding: 10px;
  width: 300px; /* Set the width of the search bar */
}

/* APP CUISINE STYLE*/
.cuisine-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  gap: 20px;
  padding: 20px 50px; 
  margin-top: 20px; /* Adds spacing between header and grid */
}

.cuisine-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px; /* Rounds the corners of the cuisine card */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds subtle shadow */
  cursor: pointer;
}

.cuisine-card:hover {
  transform: translateY(-5px);
}

.cuisine-card .cuisine-image {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background-color: #f3f3f3; /* Placeholder for actual images */
  margin-bottom: 20px; /* Adds spacing between the image and the text */
  background-size: cover;
  background-position: center;
}

button {
  padding: 10px 20px;
  background-color: #000; /* Example button color */
  color: #fff; /* Text color for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444; /* Darken button on hover */
}

.cuisine-detail-page{
  text-align: center;
}

.cuisine-banner {
  /* Styling for the banner */
  background-color: #f0f0f0; /* Replace with actual image */
  padding: 20px;
  text-align: center;
}

.cuisine-detail .cuisine-header {
  position: relative;
  margin-bottom: 20px; /* Adjust as needed */
}

.cuisine-detail .cuisine-image {
  position: relative;
  height: 300px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cuisine-detail .cuisine-image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); /* black with 50% opacity */
  z-index: 1;
}


.cuisine-detail .cuisine-title {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  padding: 5px 15px; /* Adjust as needed */
  border-radius: 5px;
  color: #333; /* Adjust text color as needed */
  font-size: 2.5rem; /* Adjust font size as needed */
  text-align: center;
  z-index: 2;
}

.cuisine-description{
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10%;
}

.chef-section {
  width: 100%;
  margin-top: 50px;
}

.chef-section h3 {
  
  text-align: center;
 
}

/* .chef-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} */

.chef-card {

  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.chef-card img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  margin-bottom: 10px;
}

.chef-card h4 {
  margin-bottom: 5px;
}

.chef-card p {
  font-size: 0.9rem;
  text-align: center;
}

.chef-card:hover {
  transform: translateY(-5px);
}

.chef-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  width: 80%;
  justify-content: center;
  gap: 20px;
}

.chef-food-image {
  height: 150px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative; /* Needed to position the chef image absolutely within */
  width: 100%;
}

.chef-image {
 /*  width: 80px;
  height: 80px;
  border-radius: 50%; */
  display: block;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%; /* Circular image */
  object-fit: cover; /* Cover the image to avoid stretching */
}

.chef-details {
  height: 60px;
  padding: 10px;
  text-align: center;
  background: #fff; /* Background for the text */
  position: relative;
  top: -30px; /* Move up to overlap the image */
}

.chef-name {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.chef-price {
  font-style: italic;
  font-size: 0.9rem;
  color: #666;
}


.chef-favorite {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.star-icon {
  color: #ffd700; /* Gold color */
  font-size: 24px; /* Adjust size as needed */
}


/* Back Button Style */
.back-button {
  margin-top: 10px;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #ffffff; /* Example button color */
  color: #000000; /* Text color for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1049px;
}

.back-button:hover {
  background-color: #d6d6d6; /* Darken button on hover */
}

/* Chef Info Section */
.chef-info {
  padding: 16px;
}

.chef-info h2, .chef-info p {
  margin: 0.5rem 0;
}

/* Slider for Chef Pictures */

.slider-container {
  max-width: 1280px; /* Set the max-width to the size of the square */
  margin: auto;
  padding:20px 0; 
}

.slider-container .slick-list {
  margin: 0 50px; /* Adjust margin to create space between slides */
}

.slider-container .slick-list,
.slider-container .slick-track,
.slider-container .slick-slide > div {
  height: 400px; /* Set the height to the same value to make it a square */
}

.slider-container .slick-slide img {
  width: 100%;
  height: 242.67%;
  object-fit: cover; /* This will cover the square area without stretching the image */
  border-radius: 8px;
}

.slider-container .slick-slide > div {
  margin: 0 15px; /* Add left and right margin to each slide for spacing */
}

/*Style the navigation arrows and dots */
.slick-prev,
.slick-next {
  font-size: 0; /* hides default arrow text */
  line-height: 0;
  position: absolute;
  top: 46%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
}

.slick-prev {
  left: -25px;
  z-index: 1;
}

.slick-next {
  right: -25px;
  z-index: 1;
}

/* Adding custom icons or text for buttons, if needed */
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 24px; /* Adjust size as needed */
  line-height: 1;
  color: black; /* Adjust color as needed */
  opacity: 0.75; /* Adjust opacity as needed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
  bottom: -13px; /* Adjust the position of the dots */
}

/* About Chef Section */
.about-chef {
  background-color: #eee;
  padding: 1rem;

  box-sizing: border-box;
}

/* Biography Section */
.bio {
  margin-bottom: 2rem;
}

/* Reviews Section */

.review-section, .message-section {
  max-width: 600px; /* Set the maximum width for the sections */
  margin: 20px auto; /* Centers the sections */
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.review-section h2, .message-section h2 {
  text-align: center;
}

.review-list {
  margin-bottom: 20px;
}

.review-item {
  display: flex;
  margin-bottom: 10px;
}

.review-avatar {
  width: 40px; /* Avatar size */
  height: 40px; /* Avatar size */
  border-radius: 50%; /* Makes it round */
  background-color: #ccc; /* Placeholder color */
  margin-right: 10px;
}

.review-content {
  flex: 1;
}

.review-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.review-comment {
  margin-bottom: 5px;
}



.message-section {
  align-items: center;
  width: 50%;
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9; /* Light gray background */
  border: 1px solid #ddd; /* Border for the section */

}

.message-section textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  min-height: 100px; /* Adjust height as needed */
}

.message-section .send-message {
  padding: 10px;
  max-width: 100%;
  background-color: #007bff; /* Adjust button color as needed */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Auth Page Section*/

.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.auth-box {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.auth-header {
  text-align: center;
  margin-bottom: 20px;
}

.auth-toggle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.auth-toggle button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e0e0e0;
}

.auth-toggle button.active {
  background-color: #4caf50;
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.auth-form .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.auth-form .checkbox-container input {
  margin-right: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
}


/* Utility classes */
.text-center {
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}
/* Additional styles... */


/* Responsive Design Adjustments */
@media screen and (max-width: 768px) {
  .cuisine-grid {
    grid-template-columns: 1fr 1fr; /* Two columns for tablet */
  }
  .chef-info, .about-chef, .bio, .reviews, .special-menu, .contact-chef, .message-area {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .cuisine-grid {
    grid-template-columns: 1fr; /* Single column for mobile */
  }
  .chef-info, .about-chef, .bio, .reviews, .special-menu, .contact-chef, .message-area {
    width: auto;
  }
}